*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build/
/.idea/
/gradle.properties
/gradle/
/.gradle/
/app/build/
/app/src/androidTest/
/app/src/test/
/library/build/
/library/src/androidTest/
/library/src/test/
